/* Fonts */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600);
@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

/* Basic CSS starts */

body{
   font-family: 'Open Sans', sans-serif;
   color:#444;
   font-size:13px;
   line-height:25px;
	-webkit-font-smoothing: antialiased;
   background:#fafafa url('../img/main-back.png') repeat;
}

h1,h2,h3,h4{
   font-family: 'Open Sans Condensed', sans-serif;
}

h5,h6{
   font-family: 'Open Sans', sans-serif;
}

